body {
    background:
    linear-gradient(
      rgb(125, 228, 202), 
      rgba(147, 216, 243, 0.966)
    );
    background-attachment: fixed;
    background-size: cover;
}

* {
    margin: 0;
    padding: 0;
}
